@page
@model LockoutModel
@{
	ViewData["Title"] = "Locked out";
}

<header>
	<h1 class="text-danger">@ViewData["Title"]</h1>
	<p class="text-danger">This account has been locked out. If you believe this is an error, please contact support.</p>
</header>